<div class="content--pad-top_39 b-content" >
  <div class="container">    
    <div class="row">
      <div class="top-sentence">
        <div>
          <span class="topsent1">오늘 뭐먹지?</span><br><br>
        </div>
        <div class ="b-index-header">
          <form action="/home/foo">  
            <div class="checkbox">
              <label>
                <input type="checkbox" name="han_sik" value="한식/분식" >한식/분식
              </label>
              <label>
                <input type="checkbox" name="chicken" value="치킨/찜닭" >치킨/찜닭
              </label>
              <label>
                <input type="checkbox" name="chinese" value="중식" >중식
              </label>
              <label>
                <input type="checkbox" name="westurn" value="피자/양식" >피자/양식
              </label>
              <label>
                <input type="checkbox" name="japanese" value="돈까스/일식">돈까스/일식
              </label>
              <br><br>
              <!--<label>
                <input type="submit" name="btn" class="btn btn-default btn-lg active" value="검색">
              </label>-->
            </div>
            <input type="hidden" name="check" value="okay">
          <!-- data-toggle="modal"data-target="#okay" -->
          <button type="submit" name="btn" class="btn btn-default bt-n-lg btn-block">SEARCH</button><br>
          <button type="submit"  class="btn btn-default bt-n-lg btn-block" name="pick" value="pick">RANDOM PICK</button>
          
          <% if @pick == "pick" %>
           <button type="button"  class="btn btn-primary bt-n-lg btn-block" data-toggle="modal"data-target="#okay" id="random" style="display:none">RANDOM PICK2</button>
          <% end %> 
          
          
        </form>
      </div>
    </div>
  </div>
    <div class="row content-row">
      <% if @select_restaurant.size == 0 %>
          <p>검색 결과가 없습니다.</p>
      <% else %>
        <p><%= @msg %></p>
        <% @select_restaurant.each do |r| %>
          <div class="row-list">
            <a href="/restaurant/<%= r.id %>">
              <div class="content-img1">
                <div class="content-top">
                  <p class="overflow">
                    <%= r.name %>
                  </p>
                  <p class="content-phone_number">
                    <%= r.phone_number %>
                  </p>
                  <div class="content-foodtype">
                    <% r.restaurant_foodtypes.each do |rf| %>
                      <span><%= rf.foodtype.name %></span>
                    <% end %>
                  </div>
                </div>
                <div class="content-bottom">
                  <div class="content-score">
                    <span class="star-rating">
                      <% 1.upto(5) do |i| %>
                        <% if i == r.average_score.round(0) %>
                          <i class="on"></i>
                        <% else %>
                          <i></i>
                        <% end %>
                      <% end %>
                    </span>
                    <span><%= r.average_score %>점</span>
                  </div>
                  <div class="content-review">
                    <span style="color:black;">
                      <%= r.comments.size %>
                    </span>
                    <span>
                      개의 리뷰
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="align:center">
  
  </div>
</div>    


<div class="content--pad-top_39 b-content" >
  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <h2>검색정보</h2>
          <% if @select_restaurant.size == 0 %>
              <p>검색 결과가 없습니다.</p>
          <% else %>
            <p><%= @msg %></p>
            <% @select_restaurant.each do |r| %>

<p><%= r.id %></p>
              <p>식당이름: <%= r.name %></p>
              <p>전화번호: <%= r.phone_number %></p>
              <p>주소: <%= r.address %> (<%= r.latitude %>, <%=r.longitude %>)</p>
              <p>배달가능:
                <% if r.delivery == true %>
                  배달가능  
                <% elsif r.delivery == false %>
                  배달불가
                <% end %>
              </p>
              <ul>
                <% r.restaurant_foodtypes.each do |rf| %>
                  <li><%= rf.foodtype.id %>  <%= rf.foodtype.name %></li>
                <% end %>
              </ul>
              <p>==================================================</p>
            <% end %>
          <% end %>
      </div>
      <div class="col-md-12">
        <h1>식당정보</h1>
        <div>
          <% @restaurants.each do |r| %>
            <p>식당이름: <%= r.name %></p>
            <p>전화번호: <%= r.phone_number %></p>
            <p>주소: <%= r.address %> (<%= r.latitude %>, <%=r.longitude %>)</p>
            <p>배달가능:
              <% if r.delivery == true %>
                배달가능  
              <% elsif r.delivery == false %>
                배달불가
              <% end %>
            </p>
            <ul>
              <% r.restaurant_foodtypes.each do |rf| %>
                <li><%= rf.foodtype.id %>  <%= rf.foodtype.name %></li>
              <% end %>
            </ul>
            <p>=====================<%= r.id %>=====================</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<!-- 이부분에서 Random Pick 한 결과값이 뜸 --> 
<div class="modal fade" id="okay" role="dialog">  
  <div class="modal-dialog" style ="width:1000px">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!-- show 복사  -->

       <!-- <div class="container-fluid">
        <div class="row" style ="margin-top: 110px">
          
        </div>
       </div> -->
        <div class="container">
          <div class="row cafedetail-container">
            <div class="col-md-12">
              <div class="col-md-12 cafeinfo-container">
                <div class="col-md-8">
                  <div id="googleMap" style="width:500px;height:300px;">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-6">
                    <p class="cafedetail-cafename">
                      <span>
                        <%= @random.name %>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="content-score">
                      <span class="star-rating">
                        <% 1.upto(5) do |i| %>
                          <% if i == @random.average_score.round(0) %>
                            <i class="on"></i>
                          <% else %>
                            <i></i>
                          <% end %>
                        <% end %>
                      </span>
                      <span><%= @random.average_score %>점/<%= @random.comments.size %>명 </span>
                    </div>
                  </div>
                </div>
                <div>
                  <p class="cafedetail-cafeaddr">
                    <% @random.restaurant_foodtypes.each do |rf| %>
                      <span>
                        <a style="font-style:bold">
                          <%= rf.foodtype.name %>
                        </a>
                      </span>
                    <% end %>
                  </p>
                  <p class="cafedetail-cafeaddr">
                    <span>
                      연락처: <%= @random.phone_number %>
                    <html>
 <head>
  <title>ESP8266 LED Control</title>
 </head>
 <body>
 
 <!-- in the <button> tags below the ID attribute is the value sent to the arduino -->
 <button id="<%= @random.phone_number %>" class="led" style="height:28px;width:80px">send</button> <!-- button for pin 11 -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script type="text/javascript">
  $(document).ready(function(){
   $(".led").click(function(){
    var p = $(this).attr('id'); // get id value (i.e. pin13, pin12, or pin11)
    // send HTTP GET request to the IP address with the parameter "pin" and value "p", then execute the function
    $.get("http://192.168.2.17:80/", {pin:p}); // execute get request
   });
  });
  
 </script>
 </body>
</html>
                    </span>
                  </p>
                  <p class="cafedetail-cafeaddr">
                    <span>
                      주소: <%= @random.address %>
                    </span>
                  </p>

<p class="cafedetail-cafesignature">
                    <div class="table-responsive table-scroll">
                      <table class="table">
                        <thead>
                          <strong><%= @random.name %></strong>
                        </thead>
                        <tr>
                          <th>메뉴명</th>
                          <th>가격</th>
                        </tr>
                        <tbody class="">
                          <!-- 샘플  -->
                      <tr>  
                      <td>
                        <%= @random.menu_a %>
                      </td>
                      <td>
                        <%= @random.price_a %>
                      </td>
                    </tr>
                    <tr>  
                      <td>
                        <%= @random.menu_b %>
                      </td>
                      <td>
                        <%= @random.price_b %>
                      </td>
                    </tr>
                    <tr>  
                      <td>
                      <%= @random.menu_c %>
                      </td>
                      <td>
                        <%= @random.price_c %>
                      </td>
                    </tr>
                    <tr>  
                      <td>
                        <%= @random.menu_d %>
                      </td>
                      <td>
                        <%= @random.price_d %>
                      </td>
                    </tr>
                    <tr>  
                      <td>
                        <%= @random.menu_e %>
                      </td>
                      <td>
                        <%= @random.price_e %>
                      </td>
                    </tr>
                    <tr>
                      <% @random.menus.each do |m|  %>
                        <td>
                          <%= m.name %>
                        </td>
                        <td>
                          <%= m.price %>
                        </td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    
      <!-- 코멘트 달기 -->  
      <% unless @comments.nil? %>
        <% @comments.reverse.each do |x| %>
              <div class="col-md-12 cafereplies-container">
                <div class="col-md-3">
                  <img src ="<%= x.user.image %>" >
                  <%= x.user.name %> :
                </div>
                <div class="col-md-4 cafecomment-content">
                  <p><%= x.comment %></p>
                </div>
                <div class="col-md-2">
                  <div class="star-show">
                    <span class="star-rating">
                      <% 1.upto(5) do |i| %>
                        <% if i == x.score %>
                          <i class="on"></i>
                        <% else %>
                          <i></i>
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </div>
                <div class="col-md-3" style="color:#777777;">
                  <div>
                    <p>
                      <%= x.updated_at.in_time_zone(9).strftime("%Y년 %m월 %d일 \n %p %I:%M")%>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
      <% end %>
          <div class="col-md-12 commentview-container">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
            <!--show 끝 -------------->
  </div>
</div>

<script>

  function initMap() {
  var mapDiv = document.getElementById('googleMap');
  var map = new google.maps.Map(mapDiv, {
    zoom: 16,
    center: new google.maps.LatLng(<%= @random.latitude %>, <%= @random.longitude %>)
  });

  var marker = new google.maps.Marker({
      position: {
        lat: <%= @random.latitude %>,
        lng: <%= @random.longitude %>
      },
      map: map
    });

  }
</script>  




<script>
  $(document).ready(function() {
  $("#random").click();


  });


</script>